<% include ../partial/header.ejs %>
<header>
  <h2>NewClick - Agenda de contatos</h2>
</header>
<main>
  <section>Bem Vindo <%= usuario.nome %></section>
  <% include ../partial/exit.ejs %>
</main>
<aside></aside>
<% include ../partial/footer.ejs %>
