<% include ../partial/header.ejs %>
<header>
  <h2>NewClick - Agenda de contatos</h2>
</header>
<main>
  <section><h2>Bem Vindo <%= usuario.nome %></h2></section>
  <% include ../partial/exit.ejs %>
</main>
<aside></aside>
<% include ../partial/footer.ejs %>
