<% include ../partial/header.ejs %>
<header>
  <h2>NewClick - Cadastrar contatos</h2>
</header>
<main>
  <section>
  <form class="forml" action="/contacto" method="post">
  <input type="text" name="nome" placeholder="Nome"/>
  <input type="text" name="email" placeholder="E-mail" />
  <button type="submit">Cadastrar</button>
</form>
</section>
  </section>
  <% include ../partial/exit.ejs %>
</main>
<aside></aside>
<% include ../partial/footer.ejs %>

