<% include ../partial/header.ejs %>
<header>
  <h2>NewClick - Atualizar Contacto da Agenda</h2>
</header>
<main>
  <section>
    <form class="forml" action="" method="post">
      <input type="hidden" name="_method" value="put"/>
      <label>Nome:</label>
      <input type="text" name="nome" value="<%= contacto.nome %>" />
      <label>E-mail:</label>
      <input type="text" name="email" value="<%= contacto.email %>" />
      <button type="submit">Atualizar</button>
    </form>
  </section>
  <% include ../partial/exit.ejs %>
</main>
<aside></aside>
<% include ../partial/footer.ejs %>
