<% include ./partial/header.ejs %>
<header></header>
<main>
  <h1>NewClick - Error</h1>
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</main>
<aside></aside>
<% include ./partial/footer.ejs %>