  <% include ./partial/header.ejs %>
    <header></header>

    <main>
       <h1>NewClick</h1>
      <h4>Seja Bem Vindo!</h4>

      <section>
        <form class="forml" action="/entrar" method="post">
          <input type="text" name="nome" placeholder="Digite o seu nome">
          
          <input type="text" name="email" placeholder="Digite o seu e-mail">
          
          <button type="submit">Entrar</button>
        </form>
      </section>
    </main>
    <aside></aside>
    <% include ./partial/footer.ejs %>
    
