  <% include ./partial/header.ejs %>
    <header>
      <h1>NewClick</h1>
      <h4>Seja Bem Vindo!</h4>
    </header>

    <main>
      <section>
        <form action="/entrar" method="post">
          <input type="text" name="nome" placeholder="Digite o seu nome">
          
          <input type="text" name="email" placeholder="Digite o seu e-mail">
          
          <button type="submit">Entrar</button>
        </form>
      </section>
    </main>
    <aside></aside>
    <% include ./partial/footer.ejs %>
    
