*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  flex-wrap: wrap;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #172031;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:#fff;
}

header,main,footer{
  display: flex;
  margin: 3px;
  justify-content: center;
  align-items: center;
}

header{
  flex: 1 1 100vw;
  flex-direction: column;

  & h1{
    font-size: 34pt;
    margin-top: 70px;
  }

  & h4{
    font-size: 20pt;
    margin-top: 20px;
  }
}

main{
  flex-direction: column;
  flex: 1 1 100vw;
  margin-top: -50px;
  /* background-color: aqua; */

  & section{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    justify-content: center;
    background: rgba(0,0,0,.5);
    height: 300px;
    border-radius: 8px;
    border-radius: 10px;
width: 400px;
padding: 40px;
  }
  & input{
    padding: 10px 0;
    margin: 10px;
    border:0;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 16px;
    margin-bottom: 28px;
    color: #fff;
  }

  & button{
    padding: 11px;
    border: 1px solid #172031;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
  }

  & button:hover{
    background: #172031;
    border-radius: 5px;
    color: #fff;
  }
}

footer{
  background-color: #0f1827;
  height: 100px;
  margin-bottom: -30px;
  
flex: 1 1 100vw;

& p{
  font-size: 12pt;
}
}

